/************************* GENERAL *************************/

:root {
  /* Déclaration des variables */
  --primary-color: #444;
  --header-footer-bg-color: #3a8eba;
  --main-font: "Lobster";
  --dark-color: black;
  --light-color: #f8f8ff;
}

body {
  font-family: var(--main-font), cursive;
  background: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: var(--light-color);
  text-decoration: none;
}

/************************* NAVIGATION : MENU *************************/
#navigation-section {
  background-color: var(--header-footer-bg-color);
  position: fixed;
  width: 100%;
  z-index: 10; /* pour qu'il s'affiche toujours devant */
  display: inline-block;
}

#navigation-section #logo-text {
  display: inline-block;
  padding: 6px 20px;
  font-size: 2rem;
}

#navigation-section .menu-text {
  margin: 0;
  padding: 0;
  list-style: none; /* suppression des puces des listes (on est dans un ul) */
  overflow: hidden; /* pour masquer le menu lorsqu'on est sur mobile */
  transition: max-height 0.2s ease-out; /* effet d'apparition/disparition du menu sur mobile */
  display: block;
  clear: both; /* pour pouvoir changer le float */
  float: left;
  max-height: 0; /* pour faire disparaître le menu au clic sur un lien */
}

#navigation-section .menu-text li a {
  display: block;
  padding: 15px 30px;
  font-size: 1.5rem;
}

#switch_btn {
  height: 25px;
}

/* menu-icon = burger */
#navigation-section .menu-icon {
  cursor: pointer; /* curseur pour les liens (souvent une main) */
  float: right; /* Pour faire afficher le burger à droite et non pas à la suite logo-text */
  padding: 25px 25px;
  position: relative;
  user-select: none; /* on ne peut pas sélectionner le texte (ici le burger) */
  display: block; /* pour afficher le burger car on est sur mobile  */
}

#navigation-section .menu-icon .navicon {
  /* dessine le trait du milieu du burger */
  background: var(--light-color);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 20px;
}

#navigation-section .menu-icon .navicon:before,
#navigation-section .menu-icon .navicon:after {
  /* ajoute 2 autres traits au dessus et au dessous du précédent */
  background: var(--light-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

#navigation-section .menu-icon .navicon:before {
  /* Distance entre le 1er et le 2ème trait */
  top: -8px;
}

#navigation-section .menu-icon .navicon:after {
  /* Distance entre le 2ème et le 3ème trait */
  top: 8px;
}

/* menu-btn = case à cocher invisible sur desktop, car une checkbox a uniquement deux états: coché ou non, et on va se servir de ces deux états pour afficher ou cacher le menu voisin dans l’HTML */
#navigation-section .menu-btn {
  display: none;
}

/* Avec le ~ on sélectionne les éléments ayant pour classe .menu-text précédés d’un élément ayant pour classe .menu-btn.
Avec la pseudo classe :checked, on ne sélectionne .menu-text uniquement si .menu-btn est cochée. */
#navigation-section .menu-btn:checked ~ .menu-text {
  max-height: 240px;
}

#navigation-section .menu-btn:checked ~ .menu-icon .navicon {
  /* Au clic, on masque le trait du milieu du burger */
  background: transparent;
}

#navigation-section .menu-btn:checked ~ .menu-icon .navicon:before {
  /* Au clic, on pivote le trait du haut du burger */
  transform: rotate(45deg);
}

#navigation-section .menu-btn:checked ~ .menu-icon .navicon:after {
  /* Au clic, on pivote le trait du bas du burger */
  transform: rotate(-45deg);
}

#navigation-section .menu-btn:checked ~ .menu-icon .navicon:before,
#navigation-section .menu-btn:checked ~ .menu-icon .navicon:after {
  /* au clic, on remet la position à 0 pour les traits du haut et du bas désormais en X */
  top: 0;
}

/************************* CARROUSEL *************************/

#slider {
  --nb-images: 5;
  width: 100%;
  position: relative;
  max-width: 1000px; /* On ne veut pas qu'une image soit agrandie plus que sa largeur normale (souvent vers 1000px), même sur très grand écran */
  overflow: hidden; /* on cache ce qui dépasse sinon on voit la bande entière !!! */
  margin: 0 auto; /* Attention ! Bug des marges ! Si on met une margin-top, cela fait descendre le nav ! Donc margin-top à 0 et mettre un padding-top à la place */
  padding: 52px 0;
}

#slider figure {
  position: relative;
  width: calc(100% * var(--nb-images)); /* 100% * nb d'images du carrousel */
  margin: 0;
  padding: 0;
  font-size: 0; /* retire tous les espaces autour et entre les images */
  animation: 30s slidy infinite;
  animation-direction: alternate;
}

#slider figure img {
  width: calc(
    100% / var(--nb-images)
  ); /* chaque image a un pourcentage égal des 100% de figure */
  height: auto;
}

/* On considère que la div container fait 100% de large et on déplace la bande d'image vers la gauche en incréments de cette distance
Si on veut placer 5 images, avec un temps de déplacement de 5% entre chaque (donc 4 * 5%), il reste 80% à diviser par 5, soit 16% de temps d'affichage fixe de chaque image
Ce qui fait :
fixe déplacement fixe déplacement fixe déplacement fixe déplacement fixe
*/

@keyframes slidy {
  0% {
    left: 0%;
  }
  16% {
    left: 0%;
  }
  21% {
    left: -100%;
  }
  37% {
    left: -100%;
  }
  42% {
    left: -200%;
  }
  58% {
    left: -200%;
  }
  63% {
    left: -300%;
  }
  79% {
    left: -300%;
  }
  84% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

/************************* CARDS *************************/
.cards {
  margin: 0 auto; /* Attention ! Bug des marges ! Si on met une margin-top, cela fait descendre le nav ! Donc margin-top à 0 et mettre un padding-top à la place */
  padding: 52px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100vw;
  height: calc(100vh - 100px);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  box-shadow: rgba(23, 24, 26, 0.5) 0px 5px 5px;
  text-align: center;
}

.card-img {
  width: 90%;
  height: 80%;
  margin: 4% auto;
  background-size: cover;
  background-position: center;
}

.card-title {
  margin: 0px 4%;
  font-size: 2rem;
}

.card-district {
  margin: 0px 4% 20px;
  font-size: 2rem;
}

.overlay {
  position: fixed;
  display: none;
  width: 80vw;
  height: 85vh;
  margin: 5% auto;
  padding: 5%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  cursor: pointer;
  font-size: 1.5rem;
}

.overlay .scrolling {
  overflow: auto;
  max-height: 98%;
}

/************************* FOOTER *************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background: var(--header-footer-bg-color);
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

footer .icon {
  width: 40px;
  font-size: 2rem;
}

footer #contactez-nous {
  padding: 0 20px;
  font-size: 1.2rem;
}

/************************* 404 LANDING PAGE *************************/
#missing {
  height: 100vh;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0 50px;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************* CONTACT US *************************/

#carte {
  width: auto;
  height: 50vh;
}

#contact {
  width: auto;
  height: 50vh;
}

iframe {
  margin-top: 50px;
}

#contact {
  text-align: center;
  padding-top: 90px;
  font-size: 24px;
}

#contact p {
  margin: 0px;
  padding-top: 5px;
}

.contact {
  font-size: 16px;
}

/* ajout des boutons sur la main pages et script.js pour l'api geoloc*/
.button {
  margin: 20px auto;
  width: 80%;
  padding: 15px;
  border: 10px solid black;
}

.button-visit {
  display: inline-block;
  width: 320px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(113, 147, 235, 1);
  border-radius: 10px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 2px 5px 5px black;
  box-shadow: 3px 5px 10px black;
}

/* bouton main page pour se regaler*/
.button-eat {
  display: inline-block;
  width: 320px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(113, 147, 235, 1);
  border-radius: 10px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 2px 5px 5px black;
  box-shadow: 3px 5px 10px black;
}
#geoloc-button {
  display: inline-block;
  width: 320px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(113, 147, 235, 1);
  border-radius: 10px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 2px 5px 5px black;
  box-shadow: 3px 5px 10px black;
}

/************************* GEOLOCALISATION *************************/

#geolocation {
  width: 100%;
  margin: 100px auto 50px auto;
}

#geolocation h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--header-footer-bg-color);
  text-shadow: 2px 5px 5px var(--dark-color);
}

/* div mapid pour la geoloc */
#mapid {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  z-index: 0;
}

/************************* MEDIA QUERIES *************************/

@media screen and (min-width: 900px) {
  /* NAVIGATION : MENU */
  #navigation-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #navigation-section .menu-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible; /* pour afficher le menu textuel lorsqu'on est sur desktop */
  }

  #navigation-section .menu-icon {
    display: none; /* on masque le burger sur desktop */
  }

  #slider {
    width: 80%;
  }

  .card {
    width: 45vw;
  }

  #mapid {
    width: 80%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 30vw;
  }
}
